{% extends './base.twig' %}

{% block content %}
<h2>Se connecter</h2>

{{ form_open('users/login') }}

<p>
    {{ form_label('Login', 'username') }}
    {{ form_input('username', '', {size: 30}) }}
</p>
<p>
    {{ form_label('Mot de passe', 'password') }}
    {{ form_password('password', '', {size: 30}) }}
</p>

<div class="input submit">
    {{ form_submit('login', 'Login', {class: 'btn btn-success'}) }}
</div>
{% endblock content %}