{% extends './layout.twig' %}

{% block list %}

<ul class="gesta-list">
    <li>{{ html_anchor('administration/liste_login','Logins') }}</li>
    <li>{{ html_anchor('administration/liste_centre','Centres') }}</li>
    <li>{{ html_anchor('administration/liste_filiere','Filières') }}</li>
    <li>{{ html_anchor('administration/liste_type_cedefop','Types de CEDEFOP') }}</li>
    <li>{{ html_anchor('administration/liste_subside','Subsides') }}</li>
    <li>{{ html_anchor('administration/liste_activite','Activités') }}</li>
    <li>{{ html_anchor('administration/liste_type_pays','Pays') }}</li>
    <li>{{ html_anchor('administration/liste_type_statut','Types de statuts à l\'entrée') }}</li>
    <li>{{ html_anchor('administration/liste_statut_entree','Classement des statuts à l\'entrée') }}</li>
    <li>{{ html_anchor('administration/liste_type_enseignement','Types d\'enseignement') }}</li>
    <li>{{ html_anchor('administration/liste_enseignement','Enseignement') }}</li>
    <li>{{ html_anchor('administration/liste_type_formation','Type et motif de sortie') }}</li>
    <li>{{ html_anchor('administration/liste_fin_formation','Classement des types et motifs de sortie') }}</li>    
    <li>{{ html_anchor('administration/photogramme_xml','Photogramme') }}</li>
    <li>{{ html_anchor('administration/liste_checklist_section','Sections de la checklist') }}</li>
    <li>{{ html_anchor('administration/liste_checklist_valeur','Valeur de la checklist') }}</li>
</ul>

{% endblock list %}