<button class="btn btn-success" id="create-adresse"><i class="icon-home icon-white"></i> Nouvelle adresse</button>

<table class="table table-striped table-top">
    <tr>
        <th>Rue</th>
        <th>Bte</th>
        <th>CP</th>
        <th>Commune</th>
        <th>Téléphone</th>
        <th>Type</th>
        <th>Défaut</th>
        <th class="actions"></th>
    </tr>
    {% for adresse in participant.adresses %}
            <tr>
                <td>{{ adresse.t_nom_rue }}</td>
                <td>{{ adresse.t_bte }}</td>
                <td>{{ adresse.t_code_postal }}</td>
                <td>{{ adresse.t_commune }}</td>
                <td>{{ adresse.t_telephone }}</td>
                <td>{{ adresse.t_type }}</td>
                <td class="default">
                {% if adresse.t_courrier == 1 %}
                    {{ asset_img('default.png') }}
                {% endif %}
                </td>
                <td class="text-right">
                    <a class="btn btn-mini btn-warning" href="{{ uri_create('participant/modifier_adresse/'~adresse.id_adresse) }}"><i class="icon-edit icon-white"></i></a>
                    <a class="btn btn-mini btn-danger" href="{{ uri_create('participant/supprimer_adresse/'~adresse.id_adresse) }}" onclick="return confirm('Etes-vous sûr de vouloir supprimer cette adresse ?')"><i class="icon-remove-sign icon-white"></i></a>
                </td>
            </tr>
    {% endfor %}
</table>