{% extends './layout.twig' %}

{% block css %}
{{ parent() }}
{{ asset_css('jquery.css') }}
{{ asset_css('jquery-ui-1.10.3.custom.min.css') }}
{% endblock css %}

{% block javascript_header %}
{{ asset_js('jquery-ui-1.10.3.custom.min.js') }}
{% endblock javascript_header %}

{% block form %}

{{ form_open({class: 'form-horizontal'}) }}

    <fieldset>

    <legend>Ajouter un participant</legend>

        <div id="tabs">

            <ul class="nav nav-pills">
                <li><a href="#signaletique" data-toggle="tab">Signalétique</a></li>
                <li><a href="#adresse" data-toggle="tab">Adresse</a></li>
                <li><a href="#situation" data-toggle="tab">Situation</a></li>
                <li><a href="#contact" data-toggle="tab">Personne contact</a></li>
                <li><a href="#diplome" data-toggle="tab">Diplôme</a></li>
                <li><a href="#checklist" data-toggle="tab">Checklist</a></li>
            </ul>

                <div id="signaletique">
                    {% include '_form_signaletique.twig' %}
                </div>
                <div id="adresse"></div>
                <div id="situation"></div>
                <div id="contact"></div>
                <div id="diplome"></div>
                <div id="checklist"></div>
            </div>
        
        <div class="form-actions">
            <button type="submit" class="btn btn-success">Valider</button>
            <a href="{{ uri_create('participant/index') }}" class="btn btn-danger">Annuler</a>
            {% if(use_eid) and (path) %}<a href="{{ path }}" class="btn btn-info">Via EID</a>{% endif %}
        </div>

    </fieldset>

{{ form_close() }}

{% endblock form %}

{% block javascript_footer %}
{{ parent() }}

<script>
    
$( document ).ready(function() {
    $( "#tabs" ).tabs({ disabled: [ 1, 2, 3, 4, 5 ] });
    
    $.datepicker.setDefaults({
        dateFormat: 'dd-mm-yy',
        selectOtherMonths: true,
        changeMonth: true,
        changeYear: true,
        dayNamesMin: ['Di', 'Lu', 'Ma', 'Me', 'Je', 'Ve', 'Sa'],
        firstDay: 1
    });
    
    $('#form_d_date_naissance').datepicker({
        yearRange: '-100:+10'
    });
});

</script>
{% endblock javascript_footer %}